@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>“Tu salud en mis manos” </h1>
    <p class="lead">Buen día, Bienvenido a “Tu salud en mis manos” .</p>0
<div></div>

<h3>
    @Html.ActionLink("Cargar Datos", "CargaArch", "Home")
</h3>
<h3>
    @Html.ActionLink("Nuevo Pedido", "BuscarFarmaco", "Pedido")
</h3>
<h3>
    @Html.ActionLink("Pedidos del dia de hoy", "VentasHoy", "Pedido")
</h3>
<h3>
    @Html.ActionLink("Exportar Datos", "Exportacion", "Home")
</h3>
<h3>
    @Html.ActionLink("Reabastecimiento", "Recarga", "Home")
</h3>
